<div>
    <!-- Search state -->
    <div>
        <p>Select a State</p>
        <select>
            <option></option>
        </select>
    </div>

    <!-- Load Discounts -->
    <div class="row col-12">
        <!-- Customer Discounts -->
        <div class="col-4">
            <p>Claim In Last Five Years</p>
            <input />
            <p>Multicar Discount</p>
            <input />
            <p>Less Than Three Years Driving</p>
            <input />
            <p>Moving Violations In Last 5 Years</p>
            <input />
            <p>PreviousCarrier: Lizard Ins</p>
            <input />
            <p>Previous Carrier: Pervasive Ins</p>
        </div>

        <!-- Driver Discounts -->
        <div class="col-4">
            <p>Safe Driving School</p>
            <input />
            <p>Driver Under Age of 23</p>
            <input />
        </div>

        <!-- Vehicle Discounts -->
        <div class="col-4">
            <p>Antilock Brakes</p>
            <input />
            <p>Antitheft</p>
            <input />
            <p>DaytimeRunningLights</p>
            <input />
            <p>GarageAddressDifferentThanResidence</p>
            <input />
            <p>PassiveRestraints</p>
            <input />
            <p>ReducedUsedDiscount</p>
            <input />
            <p>Vehicle Annual Mileage Less Than 4000</p>
            <input />
            <p>DaysDrivenPerWeekGreaterThan4</p>
            <input />
            <p>MilesDrivenToWorkLessThan25</p>
            <input />
        </div>
    </div>
</div>
