<div class="col-12">
    <!-- Search state -->
    <div class="row col-12">
        <div class="form-group col-xs-4 col-xl-2">
            <h4>Select a State</h4>
            <select class="form-control col-6">
                <option value="CT">CT</option>
                <option value="MA">MA</option>
                <option value="ME">ME</option>
                <option value="NH">NH</option>
                <option value="NY">NY</option>
                <option value="PA">PA</option>
                <option value="SC">SC</option>
                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WV">WV</option>
            </select>
        </div>
    </div>
 

    <br />

    <div class="col-12">
        <form>
            <div class="card">
                <div class="card-header">
                    <h4>Customer Discounts</h4>
                </div>
                <div class="card-body col-12">
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Claim in Last Five Years</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Multicar Discount</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Less than Three Years Driving</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Moving Violations in Last 5 Years</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Previous Carrier: Lizard Insurance</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Previous Carrier: Pervasive Insurance</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12">
        <form>
            <div class="card">
                <div class="card-header">
                    <h4>Driver Discounts</h4>
                </div>
                <div class="card-body col-12">
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Safe Driving School</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Driver Under Age of 23</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12">
        <form>
            <div class="card">
                <div class="card-header">
                    <h4>Vehicle Discounts</h4>
                </div>
                <div class="card-body col-12">
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Antilock Brakes</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Antitheft</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Daytime Running Lights</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Garage Address Different than Residence</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Passive Restraints</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Reduced Use Discount</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Vehicle Annual Mileage Less than 4000</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Days Driven per Week Greater than 4</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label>Miles Driven to Work Less than 25</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>