<!--<app-quote-progress></app-quote-progress>-->
<div class="col-12">
  <form #quoteForm="ngForm" (ngSubmit)="onSubmit()"     >
      <div class="card">
          <div class="card-header">
                <button (click)="saveCreate()" type="button" style="float: right;"class="btn btn-secondary" [routerLink]="[{ outlets: { primary: ['drivers'], form: ['drivers'] } }]">Next</button>
          </div>
          <div class="card-body col-12">
              <div class="row">
                  <div class="form-group col-6">
                      <label for="q_FirstName">First Name</label>
                      <input id="q_FirstName" name="q_FirstName" #q_FirstName="ngModel" [(ngModel)]="quoteEdit.q_FirstName" type="text" class="form-control" required />
                  </div>
                  <div class="form-group col-6">
                      <label for="q_LastName">Last Name</label>
                      <input id="q_LastName" name="q_LastName" #q_LastName="ngModel" [(ngModel)]="quoteEdit.q_LastName" type="text" class="form-control" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="address">Address</label>
                      <input id="address" name="address" #address="ngModel" [(ngModel)]="quoteEdit.address" type="text" class="form-control" required />
                  </div>
                  <div class="form-group col-6">
                      <label for="city">City</label>
                      <input id="city" name="city" #city="ngModel" [(ngModel)]="quoteEdit.city" type="text" class="form-control" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-3">
                      <label for="q_StateCode">State</label>
                      <select id="q_StateCode" name="q_StateCode" #q_StateCode="ngModel" [(ngModel)]="quoteEdit.q_StateCode" class="form-control" required>
                          <option value="CT">CT</option>
                          <option value="MA">MA</option>
                          <option value="ME">ME</option>
                          <option value="NH">NH</option>
                          <option value="NY">NY</option>
                          <option value="PA">PA</option>
                          <option value="SC">SC</option>
                          <option value="VA">VA</option>
                          <option value="VT">VT</option>
                          <option value="WV">WV</option>
                      </select>
                  </div>
                  <div class="form-group col-3">
                      <label for="postalCode">Postal Code</label>
                      <input id="postalCode" name="postalCode" #postalCode="ngModel" [(ngModel)]="quoteEdit.postalCode" type="text" class="form-control" required />
                  </div>
                  <div class="form-group col-3">
                      <label for="q_ssn">SSN</label>
                      <input id="q_ssn" name="q_ssn" #q_ssn="ngModel" [(ngModel)]="quoteEdit.q_ssn" onfocus="this.type ='text'" onblur="this.type = 'password'" class="form-control" required />
                  </div>
                  <div class="form-group col-3">
                      <label for="q_DateOfBirth">Birthdate mm/dd/yyyy</label>
                      <input id="q_DateOfBirth" name="q_DateOfBirth" #q_DateOfBirth="ngModel" [(ngModel)]="quoteEdit.q_DateOfBirth" type="date" class="form-control" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="q_Email">E-Mail</label>
                      <input id="q_Email" name="q_Email" #q_Email="ngModel" [(ngModel)]="quoteEdit.q_Email" type="email" class="form-control" required />
                  </div>
                  <div class="form-group col-6">
                      <label for="previousCarrier">Previous Carrier</label>
                      <select id="previousCarrier" name="previousCarrier" #previousCarrier="ngModel" [(ngModel)]="quoteEdit.previousCarrier" class="form-control" required>
                          <option value="1">Lizard Insurance</option>
                          <option value="2">Pervasive Insurance</option>
                      </select>
                  </div>
              </div>
              <h5>Check All that Apply:</h5>
              <div class="row">
                  <div class="form-group col-4 checkbox">
                      <label><input type="checkbox" value="" [(ngModel)]="quoteEdit.lessThanThreeYearsDriving" [ngModelOptions]="{standalone: true}">Driving less than 3 years</label>
                  </div>
                  <div class="form-group col-4 checkbox">
                      <label><input type="checkbox" value="" [(ngModel)]="quoteEdit.claimInLastFiveYears" [ngModelOptions]="{standalone: true}">Claim in last 5 years</label>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-4 checkbox">
                      <label><input type="checkbox" value="" [(ngModel)]="quoteEdit.movingViolationInLastFiveYears" [ngModelOptions]="{standalone: true}">Moving Violations in last 5 years</label>
                  </div>
                  <div class="form-group col-4 checkbox">
                      <label><input type="checkbox" value="" [(ngModel)]="quoteEdit.forceMultiCarDiscount" [ngModelOptions]="{standalone: true}">Force Multi-Car Discount</label>
                  </div>
              </div>
          </div>

      </div>
  </form>
</div>
<!--
<app-form-driver [createdQuoteId]="createdQuoteId"></app-form-driver>
<app-form-vehicle [createdQuoteId]="createdQuoteId"></app-form-vehicle>
-->