<h1>Users</h1>
<p>This page can only be accessed by managers.</p>
<div>
  <button (click)="approve()"  type="button" style="float: right;"class="btn btn-success" >Approve All</button>
  <!-- <select value='{{userFilter}}'   (change)="userFilterChanged($event.target.value)">
    <option>All Users</option>
    <option>Inactive</option>
    <option>Registered</option>
    <option>Agent</option>
    <option>Manager</option>
  </select>*/ -->
  <div class="container">
      <div class='row'>
          <div class='col-md-2'>Quick Search:</div>
          <div class='col-md-4'>
            <input type='text'
            [(ngModel)]='listFilter'/>
          </div>
      </div>
  </div>
  <div class="userList">
    <div class="row gridHeader">
      <div class="col-sm-12 col-lg-3 firstName">Name</div>
      <div class="col-sm-12 col-lg-3 lastName">Email</div>
      <div class="col-sm-12 col-lg-3 userName">Role</div>
      <div class="col-sm-12 col-lg-3 role">Status</div>
      <div class="clearfix"></div>
    </div>
    <div class="row" *ngFor="let user of filteredUsers | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
      <div class="col-sm-12 col-lg-3 firstName">
        <div class="formHeader">Name</div>
        <div class="valueField">{{user.u_FirstName}} {{user.u_LastName}}</div>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-12 col-lg-3  userName">
        <div class="formHeader">UserName:</div>
        <div class="valueField">{{user.userName}}</div>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-12 col-lg-3  role">
        <div class="formHeader">Role:</div>
        <div class="valueField">
          <select class="form-control"
          [(ngModel)]="user.role"
          (ngModelChange)="changeRole(user.role, i)">
            <option value="0">Agent</option>
            <option value="1">Manager</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-12 col-lg-3  status">
          <div class="formHeader">Status:</div>
          <div class="valueField">
            <select class="form-control"
            [(ngModel)]="user.userStatus"
            (ngModelChange)="changeStatus(user.userStatus, i)">
              <option value="1">Active</option>
              <option value="0">Pending</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>