<mat-horizontal-stepper labelPosition="bottom">
    <mat-step label="Customer">
        <div>
            <button matStepperNext (click)="goToDriver()" class="btn btn-primary">Next</button>
        </div>
        <br />
        <app-form-customer></app-form-customer>
    </mat-step>
    <mat-step label="Drivers">
        <div>
            <button matStepperPrevious class="btn btn-outline-primary">Back</button>
            <button matStepperNext (click)="goToVehicle()" class="btn btn-primary">Next</button>
        </div>
        <br />
        <app-form-driver></app-form-driver>
    </mat-step>
    <mat-step label="Vehicles">
        <div>
            <button matStepperPrevious class="btn btn-outline-primary">Back</button>
            <button matStepperNext (click)="goToSummary()" class="btn btn-primary">Next</button>
        </div>
        <br />
        <app-form-vehicle></app-form-vehicle>
    </mat-step>
    <mat-step label="Quote Summary">
        <div>
            <button matStepperPrevious class="btn btn-outline-primary">Back</button>
        </div>
        <br />
        <app-form-summary></app-form-summary>
    </mat-step>
          
</mat-horizontal-stepper>