<mat-horizontal-stepper labelPosition="bottom">
    <mat-step label="Customer">
        <div>
            <button mat-button matStepperNext (click)="goToDriver()">Next</button>
        </div>
        <app-form-customer></app-form-customer>
    </mat-step>
    <mat-step label="Drivers">
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="goToVehicle()">Next</button>
        </div>
        <app-form-driver></app-form-driver>
    </mat-step>
    <mat-step label="Vehicles">
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="goToSummary()">Next</button>
        </div>
        <app-form-vehicle></app-form-vehicle>
    </mat-step>
    <mat-step label="Quote Summary">
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
        <app-form-summary></app-form-summary>
    </mat-step>
          
</mat-horizontal-stepper>