<div class="col-12">
        <!--
        <button type="button" [routerLink]="[{ outlets: { primary: ['drivers'], form: ['drivers'] } }]" class="btn btn-success">Back</button>
        <a [routerLink]="[{ outlets: { primary: ['quotes'], form: ['quotes'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
        <button type="button" [routerLink]="[{ outlets: { primary: ['vehicles'], form: ['vehicles'] } }]" class="btn btn-success">Next</button>
        </a>-->
        <div app-type="section" id="SECTION1" [active]="true"></div>
        <div app-type="section" id="SECTION2" ></div>
        <button (click)="onAddComponentClick()" class="btn btn-success">Add Driver</button>
</div>