<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
      <div class="liner"></div>
                  
      <!-- circular user icon -->
      <li>
          <a [routerLink]="[{ outlets: { primary: ['quotes'], form: ['quotes'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Customer">
              <span class="round-tabs one">
                  C
              </span>
          </a>
      </li>

      <!-- circular tasks icon -->
       <li>
          <a [routerLink]="[{ outlets: { primary: ['drivers'], form: ['drivers'] } }]" routerLinkActive="active" data-toggle="tab" title="Drivers">
              <span class="round-tabs two">
                  D
              </span> 
          </a>
      </li>

      <!-- circular home icon -->
      <li>
          <a [routerLink]="[{ outlets: { primary: ['vehicles'], form: ['vehicles'] } }]" routerLinkActive="active" data-toggle="tab" title="Vehicles">    
              <span class="round-tabs three">
                  V
              </span>
          </a>
      </li>

      <!-- circular ok icon -->
      <li>
          <a [routerLink]="[{ outlets: { primary: ['summary'], form: ['summary'] } }]" routerLinkActive="active" data-toggle="tab" title="completed">
              <span class="round-tabs four">
                  Q
              </span>
          </a>
      </li>
              
  </ul>
  <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="content/js/loading-bars.js"></script>