<!-- nav --> 
<nav class="navbar navbar-expand" *ngIf="currentUser">
    <div class="navbar-nav">
        <img src="assets/Logo.png" class="img-responsive" />
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link" routerLink="/">Home</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/all-quotes">All Quotes</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/new-quote">New Quote</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/users" *ngIf="isManager">Users</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/ " (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
 
<!-- footer -->
<div class="text-center">
  <p>Web Agent Pro Template</p>
</div>
