#open {
    bottom: 0;
    right: 0;
    border-radius: 0;
}
#x {
    top: 1.5px;
    right: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#frame {
    bottom: 0;
    right: 0;
}