<!-- nav -->

<nav class="navbar navbar-expand-md navbar-dark" style="width:100%;" *ngIf="currentUser">
   <div class="container">
   <img src="assets/Logo.png" class="image-responsive " style="object-fit:contain; min-height:48px; left: 0; right: 0; top: 0;" />
  <button class="navbar-toggler float-right" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse container show" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/dashboards">Dashboards</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/users" *ngIf="isManager">Manage Agents</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/all-quotes">All Quotes</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/quotes">New Quote</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/manage-discounts" *ngIf="isManager">Manage Discounts</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/ " (click)="logout()">Logout</a>
          </li>
      </ul>
  </div>
        </div>
</nav>
 <!--main app container--> 
<div class="container">
    <div class="row">
        <div class="col-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<button *ngIf="show" class="btn btn-primary btn-lg float-right position-fixed" id="open" type="button" (click)="openDialog()"><fa name="comments"></fa></button>
<div *ngIf="!show" class="float-right position-fixed" style="background-color: white" id="frame">
    <button class="float-right position-absolute mat-button" id="x" (click)="onNoClick()"><fa name="times"></fa></button>
    <iframe id="bot" src="https://webchat.botframework.com/embed/aiachatbot2019-bot?s=TFc4Bc5wsZw.s-OelJidYtMCWccM174TdmjRiBjceujZdpmxDBEBwDI" style="min-width: 375px; width: 100%; min-height: 300px;"></iframe>
</div>

<!-- footer -->
<div style="height: 35px">
</div>
