<!-- nav --> 
<nav class="navbar navbar-expand" *ngIf="currentUser">
    <div class="navbar-nav">
        <img src="assets/Logo.png" class="img-responsive" />
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link" routerLink="/">Home</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/dashboards">Dashboards</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/all-quotes">All Quotes</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/quotes">New Quote</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/users" *ngIf="isManager">Users</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/manage-discounts" *ngIf="isManager">Manage Discounts</a>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/ " (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
 
<button *ngIf="show" class="btn btn-primary btn-lg float-right position-absolute" id="open" type="button" (click)="openDialog()"><fa name="comments"></fa></button>
<div *ngIf="!show" class="float-right position-absolute" id="frame">
    <button class="float-right position-absolute mat-button" id="x" (click)="onNoClick()"><fa name="times"></fa></button>
    <iframe src="https://webchat.botframework.com/embed/aiachatbot2019-bot?s=TFc4Bc5wsZw.s-OelJidYtMCWccM174TdmjRiBjceujZdpmxDBEBwDI" style="min-width: 375px; width: 100%; min-height: 300px;"></iframe>
</div>

<!-- footer -->
<div style="height: 35px">
</div>
