<div class="col-12">
    <form #driverForm="ngForm" (ngSubmit)="onSubmit()" >
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Driver {{ driver.driverId }} Info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="d_FirstName">First Name</label>
                        <input id="d_FirstName" name="d_FirstName" #d_FirstName="ngModel" [(ngModel)]="driver.d_FirstName" type="text" class="form-control" required />
                    </div>
                    <div class="form-group col-6">
                        <label for="d_LastName">Last Name</label>
                        <input id="d_LastName" name="d_LastName" #d_LastName="ngModel" [(ngModel)]="driver.d_LastName" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="driverLicenseNumber">Driver License Number</label>
                        <input id="driverLicenseNumber" name="driverLicenseNumber" #driverLicenseNumber="ngModel" [(ngModel)]="driver.driverLicenseNumber" type="text" class="form-control" required />
                    </div>
                    <div class="form-group col-6">
                        <label for="driverLicenseStateCode">Driver License State</label>
                        <select id="driverLicenseStateCode" name="driverLicenseStateCode" #driverLicenseStateCode="ngModel" [(ngModel)]="driver.driverLicenseStateCode" class="form-control" required>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="d_ssn">SSN</label>
                        <input id="d_ssn" name="d_ssn" #d_ssn="ngModel" [(ngModel)]="driver.d_ssn" type="password" class="form-control" required />
                    </div>
                    <div class="form-group col-4">
                        <label for="d_DateOfBirth">Birthdate mm/dd/yyyy</label>
                        <input id="d_DateOfBirth" name="d_DateOfBirth" #d_DateOfBirth="ngModel" [(ngModel)]="driver.d_dateOfBirth" type="date" class="form-control" required />
                    </div>
                    <div class="form-group col-4 checkbox">
                        <label><input type="checkbox" value="" [(ngModel)]="driver.safeDrivingSchoolAttended" [ngModelOptions]="{standalone: true}">Attended Safe Driving School</label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
                    <button type="submit" [disabled]="!driverForm.form.valid" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>