<div class="row col-12">
    <h4 class="col-4 text-right">Share with Client:</h4>
    <button class="btn col-4">
        <fa name="envelope"></fa>
        E-Mail
    </button>
    <button class="btn col-4">
        <fa name="print"></fa>
        Print
    </button>
</div>

<br />

<div class="row col-12">
    <h4 class="col-12 text-center">AIA Quote is:</h4>
</div>

<div class="row col-12">
    <h3 class="col-12 text-center">{{ CQ.finalCost }}</h3>
</div>

<div class="row col-12">
    <h4 class="col-12">CUSTOMER</h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-6">
        <p>Name: {{ CQ.quote.q_FirstName }} {{ CQ.quote.q_LastName }}</p>
        <p>Address: {{ CQ.quote.address }}</p>
        <p>City, State, Zip: {{ CQ.quote.city }}, {{ CQ.quote.q_StateCode }} {{ CQ.quote.postalCode }}</p>
        <p>SSN: XXX-XX-{{ lastFour }}</p>
        <p>DOB: {{ birthday }}</p>
        <p>E-Mail: {{ CQ.quote.q_Email }}</p>
        <p>Previous Carrier: {{ previousCarrier }}</p>
    </div>

    <div class="col-6">
        <p style="font-weight: bold">Customer Discounts&nbsp;&nbsp;&nbsp;&nbsp;-$<!-- total customer discount --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-6">DRIVERS</h4>
    <h4 class="col-6 text-right">TOTAL $<!-- total driver discounts --></h4>
</div>

<hr />

<div *ngFor="let d of CQ.driverReceipts" class="row col-12">
    <div class="col-4">
        <p style="font-weight: bold">Driver {{ d.driver.driverId }}</p> <!-- not ID, number! -->
        <p>Name: {{ d.driver.d_FirstName }} {{ d.driver.d_LastName }}</p>
        <p>SSN: XXX-XX-{{ d.driver.d_SSN.substring(5) }}</p>
        <p>DOB: {{ d.driver.d_DateOfBirth.substring(5, 7) }}/{{ d.driver.d_DateOfBirth.substring(8, 10) }}/{{ d.driver.d_DateOfBirth.substring(0, 4) }}<!-- driver *number* dob --></p>
    </div>
    <div class="col-2">
        <p style="font-weight: bold">$<!-- driver *number* cost --></p>
    </div>
    <div class="col-6">
        <p style="font-weight: bold">Driver <!-- driver number -->Discounts&nbsp;&nbsp;&nbsp;&nbsp;-$<!-- total driver *number* discount --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-6">VEHICLES</h4>
    <h4 class="col-6 text-right">TOTAL $<!-- total vehicle discounts --></h4>
</div>

<hr />

<div *ngFor="let v of CQ.vehicleReceipts" class="row col-12">
    <div class="col-4">
        <p style="font-weight: bold">Vehicle {{ v.vehicle.vehicleId }}</p>
        <p>Primary Driver: {{ v.vehicle.driverId }}</p> <!-- change to name not number -->
        <p>VIN: {{ v.vehicle.vin }}</p>
        <p>Make/Model: {{ v.vehicle.make }} {{ v.vehicle.model }}</p>
        <p>Year: {{ v.vehicle.year }}</p>
        <p>Miles Driven to Work: {{ v.vehicle.milesDrivenToWork }}</p>
        <p>Days Driven per Week: {{ v.vehicle.daysDrivenPerWeek }}</p>
        <p>Current Value: ${{ v.vehicle.currentValue }}</p> <!-- format????? -->
        <p>Annual Mileage: {{ v.vehicle.annualMileage }}</p>
    </div>
    <div class="col-2">
        <p style="font-weight: bold">$<!-- vehicle *number* cost --></p>
    </div>
    <div class="col-6">
        <p style="font-weight: bold">Vehicle <!-- vehicle number -->Discounts&nbsp;&nbsp;&nbsp;&nbsp;-$<!-- total vehicle *number* discount --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-12">AGENT</h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-6">
        <p style="font-weight: bold">Agent<!-- agent name --></p>
        <p>agent@aia.com<!-- agent email --></p>
        <p>(123) 123-test<!-- agent phone number --></p>
    </div>

    <div class="col-6 text-right">
        <p>Date Created: <!-- created date --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <div class="col-1"></div>
    <button class="btn col-4">
        Save for Later
    </button>
    <div class="col-2"></div>
    <button class="btn col-4">
        Submit Quote
    </button>
    <div class="col-1"></div>
</div>