<div class="row col-12">
    <h4 class="col-lg-4 col-xs-12 right">Share with Client:</h4>
    <button class="btn col-lg-4 col-xs-12">
        <fa name="envelope"></fa>
        E-Mail
    </button>
    <button class="btn col-lg-4 col-xs-12">
        <fa name="print"></fa>
        Print
    </button>
</div>

<br />

<div class="row col-12">
    <h4 class="col-12 text-center">AIA Quote is:</h4>
</div>

<div class="row col-12">
    <h3 class="col-12 text-center">${{ CQ.finalCost.toFixed(2) }}</h3>
</div>

<div class="row col-12">
    <h4 class="col-lg-6 col-xs-12">CUSTOMER</h4>
    <h4 class="col-lg-6 col-xs-12 right">TOTAL ${{ (100 + (CQ.finalCost - CQ.baseCost)).toFixed(2)   }}</h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-lg-6 col-xs-12">
        <p>Name: {{ CQ.quote.q_FirstName }} {{ CQ.quote.q_LastName }}</p>
        <p>Address: {{ CQ.quote.address }}</p>
        <p>City, State, Zip: {{ CQ.quote.city }}, {{ CQ.quote.q_StateCode }} {{ CQ.quote.postalCode }}</p>
        <p>SSN: XXX-XX-{{ lastFour }}</p>
        <p>DOB: {{ birthday }}</p>
        <p>E-Mail: {{ CQ.quote.q_Email }}</p>
        <p>Previous Carrier: {{ previousCarrier }}</p>  
    </div>

    <div class="col-lg-6 col-xs-12">
        <p style="font-weight: bold">Customer Discounts&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(totalQuoteDiscount) }}</p>
        <p [hidden]="CQ.quoteAppliedDiscounts.ClaimInLastFiveYears == null" style="font-weight: bold">Claim in Last Five Years&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(CQ.quoteAppliedDiscounts.ClaimInLastFiveYears) }}</p>
        <p [hidden]="CQ.quoteAppliedDiscounts.LessThanThreeYearsDriving == null" style="font-weight: bold">Less Than Three Years Driving&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(CQ.quoteAppliedDiscounts.LessThanThreeYearsDriving) }}</p>
        <p [hidden]="CQ.quoteAppliedDiscounts.MulticarDiscount == null" style="font-weight: bold">Multicar Discount&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(CQ.quoteAppliedDiscounts.MulticarDiscount) }}</p>
        <p [hidden]="CQ.quoteAppliedDiscounts.MovingViolationsInLast5Years == null" style="font-weight: bold">Moving Violations in Last Five Years&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(CQ.quoteAppliedDiscounts.MovingViolationsInLast5Years) }}</p>
        <p [hidden]="CQ.quoteAppliedDiscounts.PreviousCarrier == null" style="font-weight: bold">Previous Carrier Discount&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(CQ.quoteAppliedDiscounts.PreviousCarrier) }}</p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-lg-6 col-xs-12">DRIVERS</h4>
    <h4 class="col-lg-6 col-xs-12 right">TOTAL ${{ CQ.sumDriverCost.toFixed(2) }}</h4>
</div>

<hr />

<div *ngFor="let d of CQ.driverReceipts; let i = index" [attr.data-index]="i" class="row col-12">
    <div class="col-lg-4 col-xs-12">
        <p style="font-weight: bold">Driver {{ i+1 }}</p>
        <p>Name: {{ d.driver.d_FirstName }} {{ d.driver.d_LastName }}</p>
        <p>SSN: XXX-XX-{{ d.driver.d_SSN.substring(5) }}</p>
        <p>DOB: {{ d.driver.d_DateOfBirth.substring(5, 7) }}/{{ d.driver.d_DateOfBirth.substring(8, 10) }}/{{ d.driver.d_DateOfBirth.substring(0, 4) }}<!-- driver *number* dob --></p>
    </div>
    <div class="col-lg-2 col-xs-12">
        <p style="font-weight: bold">${{ d.finalCost }}</p>
    </div>
    <div class="col-lg-6 col-xs-12">
        <p style="font-weight: bold">Driver {{ i+1 }} Discounts&nbsp;&nbsp;&nbsp;&nbsp; {{ getTotalDiscountValue(d) }}</p>
        <p [hidden]="d.driverAppliedDiscounts.SafeDrivingSchool == null" style="font-weight: bold">Safe Driving School Attended&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(d.driverAppliedDiscounts.SafeDrivingSchool) }}</p>
        <p [hidden]="d.driverAppliedDiscounts.DriverUnderAgeOf23 == null" style="font-weight: bold">Driver Under Age of 23&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(d.driverAppliedDiscounts.DriverUnderAgeOf23) }}</p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-lg-6 col-xs-12">VEHICLES</h4>
    <h4 class="col-lg-6 col-xs-12 right">TOTAL ${{ CQ.sumVehicleCost.toFixed(2) }}</h4>
</div>

<hr />

<div *ngFor="let v of CQ.vehicleReceipts; let i=index" [attr.data-index]="i" class="row col-12">
    <div class="col-lg-4 col-xs-12">
        <p style="font-weight: bold">Vehicle {{ i+1 }}</p>
        <p>Primary Driver: {{ v.primaryDriver.d_FirstName }} {{ v.primaryDriver.d_FirstName }}</p> <!-- change to name not number -->
        <p>VIN: {{ v.vehicle.vin }}</p>
        <p>Make/Model: {{ v.vehicle.make }} {{ v.vehicle.model }}</p>
        <p>Year: {{ v.vehicle.year }}</p>
        <p>Miles Driven to Work: {{ v.vehicle.milesDrivenToWork }}</p>
        <p>Days Driven per Week: {{ v.vehicle.daysDrivenPerWeek }}</p>
        <p>Current Value: ${{ v.vehicle.currentValue.toFixed(2) }}</p> <!-- format????? -->
        <p>Annual Mileage: {{ v.vehicle.annualMileage }}</p>
    </div>
    <div class="col-lg-2 col-xs-12">
        <p style="font-weight: bold">${{ v.finalCost.toFixed(2) }}</p>
    </div>
    <div class="col-lg-6 col-xs-12">
        <p style="font-weight: bold">Vehicle {{ i+1 }} Discounts:&nbsp;&nbsp;&nbsp;&nbsp;{{ getTotalDiscountValue(v) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.AntilockBrakes == null" style="font-weight: bold">Antilock Brakes:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.AntilockBrakes) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.Antitheft == null" style="font-weight: bold">Antitheft:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.Antitheft) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.VehicleAnnualMileageLessThan6000 == null" style="font-weight: bold">Vehicle Annual Mileage Less Than 6000:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.VehicleAnnualMileageLessThan6000) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.DaysDrivenPerWeekGreaterThan4 == null" style="font-weight: bold">More than 4 Days Driven per Week:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.DaysDrivenPerWeekGreaterThan4) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.MilesDrivenToWorkLessThan25 == null" style="font-weight: bold">Less than 25 miles Driven to Work:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.MilesDrivenToWorkLessThan25) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.DaytimeRunningLights == null" style="font-weight: bold">Daytime Running Lights:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.DaytimeRunningLights) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.GarageAddressDifferentThanResidence == null" style="font-weight: bold">Different Garage Address than Residence:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.GarageAddressDifferentThanResidence) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.PassiveRestraints == null" style="font-weight: bold">Passive Restraints:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.PassiveRestraints) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.ReducedUsedDiscount == null" style="font-weight: bold">Reduced Used Discount:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.ReducedUsedDiscount) }}</p>
        <p [hidden]="v.vehicleAppliedDiscounts.PrimaryOperator == null" style="font-weight: bold">Primary Driver Discount:&nbsp;&nbsp;&nbsp;&nbsp;{{ getDiscountValue(v.vehicleAppliedDiscounts.PrimaryOperator) }}</p>

    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-12">AGENT</h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-lg-6 col-xs-12">
        <p style="font-weight: bold">Agent<!-- agent name --></p>
        <p>agent@aia.com<!-- agent email --></p>
        <p>(123) 123-test<!-- agent phone number --></p>
    </div>

    <div class="col-lg-6 col-xs-12 right">
        <p>Date Created: <!-- created date --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <div class="col-lg-1 col-xs-12"></div>
    <button class="btn col-lg-4 col-xs-12">
        Save for Later
    </button>
    <div class="col-lg-2 col-xs-12"></div>
    <button class="btn col-lg-4 col-xs-12">
        Submit Quote
    </button>
    <div class="col-lg-1 col-xs-12"></div>
</div>