<div class="row col-12">
    <h4 class="col-4 text-right">Share with Client:</h4>
    <button class="btn col-4">
        <fa name="envelope"></fa>
        E-Mail
    </button>
    <button class="btn col-4">
        <fa name="print"></fa>
        Print
    </button>
</div>

<br />

<div class="row col-12">
    <h4 class="col-12 text-center"><!-- Customer name here -->AIA Quote is:</h4>
</div>

<div class="row col-12">
    <h3 class="col-12 text-center">{{ CQ | json }}</h3>
</div>

<div class="row col-12">
    <h4 class="col-12">CUSTOMER</h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-6">
        <p>Name: <!-- customer name --></p>
        <p>Address: <!-- customer address --></p>
        <p>City, State, Zip: <!-- customer city, state, zip --></p>
        <p>SSN: XXX-XX-<!-- last 4 customer ssn --></p>
        <p>DOB: <!-- customer dob --></p>
        <p>E-Mail: <!-- customer email --></p>
        <p>Previous Carrier: <!-- customer previous carrier --></p>
    </div>

    <div class="col-6">
        <p style="font-weight: bold">Customer Discounts&nbsp;&nbsp;&nbsp;&nbsp;-$<!-- total customer discount --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-6">DRIVERS</h4>
    <h4 class="col-6 text-right">TOTAL $<!-- total driver discounts --></h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-4">
        <p style="font-weight: bold">Driver<!-- driver number --></p>
        <p>Name: <!-- driver *number* name --></p>
        <p>SSN: XXX-XX-<!-- driver *number* ssn --></p>
        <p>DOB: <!-- driver *number* dob --></p>
    </div>
    <div class="col-2">
        <p style="font-weight: bold">$<!-- driver *number* cost --></p>
    </div>
    <div class="col-6">
        <p style="font-weight: bold">Driver <!-- driver number -->Discounts&nbsp;&nbsp;&nbsp;&nbsp;-$<!-- total driver *number* discount --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-6">VEHICLES</h4>
    <h4 class="col-6 text-right">TOTAL $<!-- total vehicle discounts --></h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-4">
        <p style="font-weight: bold">Vehicle<!-- vehicle number --></p>
        <p>Primary Driver: <!-- primary driver name --></p>
        <p>VIN: <!-- vin --></p>
        <p>Make/Model: <!-- make AND model --></p>
        <p>Year: <!-- year --></p>
        <p>Miles Driven to Work: <!-- miles driven to work --></p>
        <p>Days Driven per Week: <!-- days driven per week --></p>
        <p>Current Value: $<!-- current value --></p>
        <p>Annual Mileage: <!-- annual mileage --></p>
    </div>
    <div class="col-2">
        <p style="font-weight: bold">$<!-- vehicle *number* cost --></p>
    </div>
    <div class="col-6">
        <p style="font-weight: bold">Vehicle <!-- vehicle number -->Discounts&nbsp;&nbsp;&nbsp;&nbsp;-$<!-- total vehicle *number* discount --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <h4 class="col-12">AGENT</h4>
</div>

<hr />

<div class="row col-12">
    <div class="col-6">
        <p style="font-weight: bold">Agent<!-- agent name --></p>
        <p>agent@aia.com<!-- agent email --></p>
        <p>(123) 123-test<!-- agent phone number --></p>
    </div>

    <div class="col-6 text-right">
        <p>Date Created: <!-- created date --></p>
    </div>
</div>

<br />

<div class="row col-12">
    <div class="col-1"></div>
    <button class="btn col-4">
        Save for Later
    </button>
    <div class="col-2"></div>
    <button class="btn col-4">
        Submit Quote
    </button>
    <div class="col-1"></div>
</div>