<div class="col-12">
    <div class="row">
        <div class="col-3 text-center">
            <h4>Customer</h4>
            <fa name="circle"></fa>
            <fa name="circle-notch"></fa>
            <p>Incomplete</p>
            <p>In Progress</p>
            <p>Complete</p>
        </div>
        <div class="col-3 text-center">
            <h4>Drivers</h4>
            <fa name="circle"></fa>
            <fa name="circle-notch"></fa>
            <p>Incomplete</p>
            <p>In Progress</p>
            <p>Complete</p>
        </div>
        <div class="col-3 text-center">
            <h4>Vehicles</h4>
            <fa name="circle"></fa>
            <fa name="circle-notch"></fa>
            <p>Incomplete</p>
            <p>In Progress</p>
            <p>Complete</p>
        </div>
        <div class="col-3 text-center">
            <h4>Quotes</h4>
            <fa name="circle"></fa>
            <fa name="circle-notch"></fa>
            <p>Incomplete</p>
            <p>In Progress</p>
            <p>Complete</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <button class="btn col-6">
                <fa name="chevron-left"></fa>
                Back
            </button>
            <button class="btn col-6">
                Next
                <fa name="chevron-right"></fa>
            </button>
        </div>
    </div>
</div>
