<div class='card'>
  <div class='card-header'>
    <h1>Quotes</h1>
  </div>
  <div class='card-body'>
      <div class="container">
          <div class='row'>
              <div class='col-md-2'>Quick Search:</div>
              <div class='col-md-4'>
                <input type='text'
                [(ngModel)]='listFilter'/>
              </div>
            </div>
      </div>
      <div class="container" style="text-align: center">
          <div style="display: inline-block"><h3 >Open ({{quotes.length}})</h3></div>
          <div style="display: inline-block"><h3 >Submitted ({{quotes.length}})</h3></div>
      </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='quotes && quotes.length'>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Creation Date</th>
            <th>Quote Number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let quote of filteredQuotes'>
              <td>{{ quote.q_FirstName }} {{ quote.q_LastName }}</td>
              <td></td>
            <td>{{ quote.quoteId }}</td>
            <td>
              <button (click)="editQuote(quote.quoteId)" class="btn btn-secondary">Edit</button>
              <button (click)="copyQuote(quote.quoteId)" class="btn btn-secondary">Copy</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
