<div class='card'>
  <div class='card-header'>
    <h1>Quotes</h1>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <h3>Open ({{quotes.length}})</h3>
      <table class='table'
             *ngIf='quotes && quotes.length'>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Creation Date</th>
            <th>Quote Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let quote of quotes'>
            <td>{{ quote.firstName }}</td>
            <td>{{ quote.lastName }}</td>
            <td>{{ quote.quoteId }}</td>
            <td><button (click)="deleteQuote(quote.quoteId)" class="btn btn-secondary">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
